In [1]:
import pandas as pd
import requests
import numpy as np
import json
import urllib
idx = pd.IndexSlice
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.ticker as ticker
import os

plt.rcParams['figure.figsize'] = [8, 6]
plt.rcParams.update({'font.size': 22})
plt.style.use('seaborn-poster')
mpl.rcParams['axes.spines.right'] = False
mpl.rcParams['axes.spines.top'] = False

# 1. CPI--Weights

## 1.1 Import data

- [Data source](https://www.stat.go.jp/data/cpi/2020/kaisetsu/index.html): IV 2020年基準消費者物価指数作成関係資料

- [Excel link](https://www.stat.go.jp/data/cpi/2020/kaisetsu/zuhyou/4-1.xlsx)

In [26]:
file_name = 'https://www.stat.go.jp/data/cpi/2020/kaisetsu/zuhyou/4-1.xlsx'
df = pd.read_excel(
    file_name, 
    header= [3],
    sheet_name = '品目情報一覧'
).iloc[1:, :]
#df.Weight = [int(str(x).replace(' ', '')) for x in df.Weight]
df.head(5)

,大分類,中分類１,中分類２,小分類１,小分類２,品目,,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,耐久消費財,公共料金,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
1,総合,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,...,-,-,-,-,-,-,-,-,-,-
2,食料,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,...,-,-,-,-,-,-,-,-,-,-
3,NaN,NaN,穀類,NaN,NaN,NaN,NaN,3.0,NaN,3.0,...,-,-,-,-,-,-,-,-,-,-
4,NaN,NaN,NaN,NaN,米類,NaN,NaN,4.0,NaN,4.0,...,-,-,-,-,-,-,-,-,-,-
5,NaN,NaN,NaN,NaN,NaN,うるち米Ａ,NaN,NaN,1001.0,5.0,...,3,NaN,NaN,NaN,NaN,NaN,3,1,0111,NaN

In [28]:
cols = ['大分類', '中分類１', '中分類２', '小分類１', '小分類２', '品目', 'Unnamed: 11']
df = df.loc[:, cols]
df = df.rename(columns= {'Unnamed: 11':'Weights'})
df.head(3)

   大分類 中分類１ 中分類２ 小分類１ 小分類２   品目 Weights
1   総合  NaN  NaN  NaN  NaN  NaN   10000
2   食料  NaN  NaN  NaN  NaN  NaN    2626
3  NaN  NaN   穀類  NaN  NaN  NaN     214