In [2]:
import pandas as pd

- The consumption tax adjusted CPI is released as reference data by the Statistics Bureau of the Ministry of Internal Affairs and Communications on the following external links.
- https://www.boj.or.jp/en/research/research_data/cpi/index.htm/

## 1.1 Show worksheets

In [9]:
url = 'https://www.stat.go.jp/data/cpi/2020/zuhyou/2020taxadj.xlsx'
df = pd.read_excel(url,
                   sheet_name = 'index', # y-o-y pct
                   index_col = 0,
                   skipfooter =1
                  ).dropna()
df

              Unnamed: 1
消費税調整済指数
シート名                 分類名
zmi                月次，指数
zmm            月次，前月比(％)
zmy          月次，前年同月比(％)
zni               年平均，指数
zny           年平均，前年比(％)
zdi              年度平均，指数
zdy         年度平均，前年度比(％)
zqi             四半期平均，指数
zqq         四半期平均，前期比(％)
zqy       四半期平均，前年同期比(％)

## 1.2 Download y-o-y data

In [3]:
df = pd.read_excel(url,
                   sheet_name = 'zmy', # y-o-y pct
                   header=5,
                   #parse_dates=True
                   index_col = 0
                  )
df.head(3)

                            10000  9604   8420   8024   8892   6781
ウエイト１万分比(Weight per 10000)
199001                        NaN    NaN    NaN    NaN    NaN    NaN
199002                        NaN    NaN    NaN    NaN    NaN    NaN
199003                        NaN    NaN    NaN    NaN    NaN    NaN

In [4]:
df = df.dropna()
df.index = [pd.to_datetime(str(x)+'01') for x in df.index]
df.head(3)

            10000  9604   8420   8024   8892   6781
1991-01-01    4.0    3.2    4.2    3.2    2.9    2.5
1991-02-01    3.6    3.2    3.6    3.2    2.9    2.5
1991-03-01    3.6    3.1    3.6    3.2    3.0    2.6