# DBeconomics

- [python client](https://git.nomics.world/dbnomics/dbnomics-python-client/-/blob/master/index.ipynb)

In [2]:
from dbnomics import fetch_series, fetch_series_by_api_link

## World Bank--WDI
- [Info](https://db.nomics.world/WB)

In [3]:
df = fetch_series("WB", "DB", dimensions={
    "country": ["FR", "IT", "ES"],
    "indicator": ["IC.REG.COST.PC.FE.ZS.DRFN"],
})
df.head()

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,indicator,country,indicator (label),country (label)
0,annual,WB,DB,Doing Business,IC.REG.COST.PC.FE.ZS.DRFN-ES,Starting a business: Cost - Women (% of income...,2004,2004-01-01,91.60028,91.60028,IC.REG.COST.PC.FE.ZS.DRFN,ES,Starting a business: Cost - Women (% of income...,Spain
1,annual,WB,DB,Doing Business,IC.REG.COST.PC.FE.ZS.DRFN-ES,Starting a business: Cost - Women (% of income...,2005,2005-01-01,91.51981,91.51981,IC.REG.COST.PC.FE.ZS.DRFN,ES,Starting a business: Cost - Women (% of income...,Spain
2,annual,WB,DB,Doing Business,IC.REG.COST.PC.FE.ZS.DRFN-ES,Starting a business: Cost - Women (% of income...,2006,2006-01-01,91.75641,91.75641,IC.REG.COST.PC.FE.ZS.DRFN,ES,Starting a business: Cost - Women (% of income...,Spain
3,annual,WB,DB,Doing Business,IC.REG.COST.PC.FE.ZS.DRFN-ES,Starting a business: Cost - Women (% of income...,2007,2007-01-01,91.88806,91.88806,IC.REG.COST.PC.FE.ZS.DRFN,ES,Starting a business: Cost - Women (% of income...,Spain
4,annual,WB,DB,Doing Business,IC.REG.COST.PC.FE.ZS.DRFN-ES,Starting a business: Cost - Women (% of income...,2008,2008-01-01,92.47475,92.47475,IC.REG.COST.PC.FE.ZS.DRFN,ES,Starting a business: Cost - Women (% of income...,Spain