In [1]:
import pandas as pd
import os
idx = pd.IndexSlice

In [8]:
files = [x for x in os.listdir('Input/') if not x.startswith('~') and not x.startswith('.')]
files

['E5', 'E4', 'Closed_E8_Full_Decade_Final_v2.xlsx']

- https://www.dof.ca.gov/Forecasting/Demographics/Estimates/E-8/2000-10/documents/Closed_E8_Full_Decade_Final_v2.xlsx
- https://www.dof.ca.gov/Forecasting/Demographics/Estimates/E-8/2000-10/

# 1. E-5: Population & Housing
- [Website](https://www.dof.ca.gov/Forecasting/Demographics/Estimates/e-5/)
- [Dataset: E-5 Population and Housing Estimates - Organized by Geography](https://www.dof.ca.gov/Forecasting/Demographics/Estimates/e-5/documents/E-5-2021_by_Geo_Internet.xlsx)

## 1.A Import

In [9]:
os.listdir('Input/E5')

['E-5-2021_by_Geo_Internet.xlsx']

In [7]:
df = pd.read_excel('Input/E5/E-5-2021_by_Geo_Internet.xlsx',
              header= [1,2],
             sheet_name=1,
             parse_dates=True,
                  )
df.head(3)

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
              County               City               Date              Total
0         California        State Total         2010-04-01           37253956
1        California         State Total         2011-01-01           37561624
2        California         State Total         2012-01-01           37924661

  POPULATION                                            HOUSING UNITS  \
   Household Group Quarters    Total2 Single Detached Single Attached
0   36412191         841765  13670304         7959078          966440
1   36724643         836981  13704840         7976300          967711
2   37086745         837916  13740400         7993130          969232

                                                             \
  Two to Four Five Plus Mobile Homes  Occupied Vacancy Rate
0     1110620   3076519       557647  12568167     0.080623
1     1112447   3090252       558130  12601818     0.080484
2     1114374   3104901       558763  12640818     0.080025


  Persons per Household
0              2.897176
1              2.914234
2              2.933888

# 2. E4: Historical Population Estimates for Cities, Counties, and the State

## 2.1 Import

In [12]:
path = 'Input/E4/'
files = os.listdir(path)
files

['E-4_90-00_Rpt.xlsx',
 'E-4_2021InternetVersion.xlsx',
 'E4_2000-2010_Report_Final_EOC_000.xlsx']

In [17]:
df = pd.read_excel(path + files[1],
              header= [1],
             sheet_name='Table 2 City County', #Table 1 County State
             #parse_dates=True,
                  )
df.head(3)

,COUNTY/CITY,4/1/2010,1/1/2011,1/1/2012,1/1/2013,1/1/2014,1/1/2015,1/1/2016,1/1/2017,1/1/2018,...,Column16362,Column16363,Column16364,Column16365,Column16366,Column16367,Column16368,Column16369,Column16370,Column16371
0,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Incorporated Total,30764188.0,31087646.0,31506150.0,31857506.0,32109257.0,32380265.0,32603823.0,32830286.0,32993851.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Balance Of State Total,6489768.0,6473978.0,6418511.0,6412358.0,6447474.0,6485267.0,6499764.0,6522112.0,6525684.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN