# Insurers balance sheets

https://www.seiho.or.jp/english/statistics/summary/

In [3]:
import pandas as pd

In [4]:
url = 'https://www.seiho.or.jp/english/statistics/summary/xls/e_toukei2020.4-4.xls'
insure = pd.read_excel(url)

In [5]:
df_insure = insure.iloc[16:31, [12,15]]
df_insure.columns=['Asset', 'Amount BN yen']
df_insure.head(5)

                     Asset Amount BN yen
16          Cash, Deposits          9657
17              Call-Loans          2209
18  Monetary Claims Bought          1779
19         Money in Trust           7147
20              Securities        311144

In [6]:
import datetime
df_insure['Date'] =  datetime.datetime.strptime('2020-04', '%Y-%m')
df_insure = df_insure.set_index('Date')
df_insure.head(2)

                     Asset Amount BN yen
Date
2020-04-01  Cash, Deposits          9657
2020-04-01      Call-Loans          2209