https://pandasdmx.readthedocs.io/en/v1.0/sources.html#oecd-organisation-for-economic-cooperation-and-development
https://github.com/yannklein/working-in-japan-oecd-data/blob/master/working_in_japan.ipynb

In [1]:
import pandasdmx as pdsdmx

/Users/corybaird/opt/miniconda3/lib/python3.8/site-packages/pandasdmx/remote.py:11: RuntimeWarning: optional dependency requests_cache is not installed; cache options to Session() have no effect
  warn(

In [2]:
oecd = pdsdmx.Request('OECD')
data_response = oecd.data(resource_id='ANHRS', key='all?startTime=2000')
data_response.write().to_frame()

In [26]:
data_response = oecd.data(resource_id='PRICES_CPI', key='all?startTime=2000')
data_response.write().to_frame()

                                                      value
LOCATION SUBJECT  MEASURE FREQUENCY TIME_PERIOD
ARG      CP010000 GP      A         2018          32.733810
                                    2019          58.362880
                                    2020          46.963050
                          M         2017-01        1.302400
                                    2017-02        1.834211
...                                                     ...
ZAF      PWCPSE01 AL      A         2016         486.950000
                                    2017         486.950000
                                    2018         486.950000
                                    2019         486.950000
                                    2020         486.950000

[1841847 rows x 1 columns]

In [28]:
data_response.write().to_frame().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1841847 entries, ('ARG', 'CP010000', 'GP', 'A', '2018') to ('ZAF', 'PWCPSE01', 'AL', 'A', '2020')
Data columns (total 1 columns):
 #   Column  Dtype
---  ------  -----
 0   value   float64
dtypes: float64(1)
memory usage: 24.6+ MB

In [29]:
df = data_response.write().to_frame().reset_index()
df.head(3)

  LOCATION   SUBJECT MEASURE FREQUENCY TIME_PERIOD     value
0      ARG  CP010000      GP         A        2018  32.73381
1      ARG  CP010000      GP         A        2019  58.36288
2      ARG  CP010000      GP         A        2020  46.96305

In [33]:
df.LOCATION.unique()

array(['ARG', 'AUS', 'AUT', 'BEL', 'BRA', 'CAN', 'CHE', 'CHL', 'CHN',
       'COL', 'CRI', 'CZE', 'DEU', 'DNK', 'EA19', 'ESP', 'EST',
       'EU27_2020', 'EU28', 'FIN', 'FRA', 'G-20', 'G-7', 'GBR', 'GRC',
       'HUN', 'IDN', 'IND', 'IRL', 'ISL', 'ISR', 'ITA', 'JPN', 'KOR',
       'LTU', 'LUX', 'LVA', 'MEX', 'NLD', 'NOR', 'NZL', 'OECD', 'OECDE',
       'POL', 'PRT', 'RUS', 'SAU', 'SVK', 'SVN', 'SWE', 'TUR', 'USA',
       'ZAF'], dtype=object)

In [34]:
df.SUBJECT.unique()

array(['CP010000', 'CP020000', 'CP030000', 'CP040000', 'CP050000',
       'CP060000', 'CP070000', 'CP080000', 'CP090000', 'CP100000',
       'CP110000', 'CP120000', 'CPALTT01', 'CPGRGO01', 'CPGRSE01',
       'CP040100', 'CP040200', 'CP040300', 'CP040400', 'CP040500',
       'CP070200', 'CPGREN01', 'CPGRHO01', 'CPGRHO02', 'CPGRLE01',
       'CPGRLH01', 'PWCP0000', 'PWCP0100', 'PWCP0200', 'PWCP0300',
       'PWCP0400', 'PWCP0410', 'PWCP0420', 'PWCP0430', 'PWCP0440',
       'PWCP0450', 'PWCP0500', 'PWCP0600', 'PWCP0700', 'PWCP0722',
       'PWCP0800', 'PWCP0900', 'PWCP1000', 'PWCP1100', 'PWCP1200',
       'PWCPEN01', 'PWCPHO01', 'PWCPLE01', 'CPGRLH02', 'CPHP0100',
       'CPHP0200', 'CPHP0300', 'CPHP0400', 'CPHP0401', 'CPHP0403',
       'CPHP0404', 'CPHP0405', 'CPHP0500', 'CPHP0600', 'CPHP0700',
       'CPHP0702', 'CPHP0800', 'CPHP0900', 'CPHP1000', 'CPHP1100',
       'CPHP1200', 'CPHPEN01', 'CPHPLA01', 'CPHPSE01', 'CPHPTT01',
       'CPSDCTGY', 'PWCPGO01', 'PWCPHO05', 'PWCPLR01', 'PWCPSE01',
       'PWHP0000', 'PWHP0100', 'PWHP0200', 'PWHP0300', 'PWHP0400',
       'PWHP0500', 'PWHP0600', 'PWHP0700', 'PWHP0800', 'PWHP0900',
       'PWHP1000', 'PWHP1100', 'PWHP1200', 'CPHPGD01', 'CPALTT02',
       'PWHP0410', 'PWHP0430', 'PWHP0440', 'PWHP0450', 'PWHP0722',
       'PWHPEN01', 'PWHPGO01', 'PWHPLE01', 'PWHPSE01'], dtype=object)