# A. Penn World Table

## A.1 Data dictionary

- [Website](https://www.rug.nl/ggdc/productivity/pwt/?lang=en)
- [Data](https://www.rug.nl/ggdc/docs/pwt100.xlsx)

In [2]:
import pandas as pd

In [3]:
url = 'https://www.rug.nl/ggdc/docs/pwt100.xlsx'
df_pw = pd.read_excel(url, sheet_name = 'Data')
df_pw.head(2)

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
0,ABW,Aruba,Aruban Guilder,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Aruban Guilder,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN