# EDD Data 

## QCEW
https://data.edd.ca.gov/browse?q=qcew&sortBy=relevance
https://dev.socrata.com/foundry/data.edd.ca.gov/fisq-v939
https://dev.socrata.com/consumers/getting-started.html

In [2]:
import pandas as pd
import requests
from sodapy import Socrata

In [4]:
api_file = open('api_key.txt')
api_code = "".join(api_file.readlines())

In [5]:
client = Socrata('data.edd.ca.gov',
                  api_code,
                )

In [51]:
metadata = client.get_metadata('fisq-v939')
[x['name'] for x in metadata['columns']]

['Area Type',
 'Area Name',
 'Year',
 'Quarter',
 'Ownership',
 'NAICS Level',
 'NAICS Code',
 'Industry Name',
 'Establishments',
 'Average Monthly Employment',
 '1st Month Emp',
 '2nd Month Emp',
 '3rd Month Emp',
 'Total Wages (All Workers)',
 'Average Weekly Wages']

In [57]:
meta_amount = [x for x in metadata['columns'] if x['name'] == 'Area Name'][0]
meta_amount

{'id': 431568240,
 'name': 'Area Name',
 'dataTypeName': 'text',
 'description': 'The name of the area chosen from the Area Type.',
 'fieldName': 'area_name',
 'position': 2,
 'renderTypeName': 'text',
 'tableColumnId': 35302828,
 'width': 123,
 'cachedContents': {'largest': 'Yuba County',
  'non_null': '4402677',
  'null': '0',
  'top': [{'item': 'United States', 'count': '330064'},
   {'item': 'California', 'count': '243687'},
   {'item': 'Los Angeles County', 'count': '191655'},
   {'item': 'Orange County', 'count': '157574'},
   {'item': 'San Diego County', 'count': '156614'},
   {'item': 'San Bernardino County', 'count': '139695'},
   {'item': 'Alameda County', 'count': '135747'},
   {'item': 'Riverside County', 'count': '132026'},
   {'item': 'Santa Clara County', 'count': '128821'},
   {'item': 'Sacramento County', 'count': '123605'},
   {'item': 'Ventura County', 'count': '113263'},
   {'item': 'San Francisco County', 'count': '111652'},
   {'item': 'Fresno County', 'count': '108969'},
   {'item': 'Contra Costa County', 'count': '105534'},
   {'item': 'San Mateo County', 'count': '105215'},
   {'item': 'Sonoma County', 'count': '102049'},
   {'item': 'Kern County', 'count': '99486'},
   {'item': 'Santa Barbara County', 'count': '97638'},
   {'item': 'San Joaquin County', 'count': '95208'},
   {'item': 'Monterey County', 'count': '87249'}],
  'smallest': 'Alameda County',
  'count': '4402677',
  'cardinality': '60'},
 'format': {'displayStyle': 'plain', 'align': 'left'}}

In [58]:
[x['name'] for x in metadata['columns']]

['Area Type',
 'Area Name',
 'Year',
 'Quarter',
 'Ownership',
 'NAICS Level',
 'NAICS Code',
 'Industry Name',
 'Establishments',
 'Average Monthly Employment',
 '1st Month Emp',
 '2nd Month Emp',
 '3rd Month Emp',
 'Total Wages (All Workers)',
 'Average Weekly Wages']

In [91]:
df =pd.DataFrame.from_records(results)
df.head(2)

,area_type,area_name,year,time_period,ownership,naics_code_level,naics_code,industry_name,establishments,avg_employment,_1st_month_emp,_2nd_month_emp,_3rd_month_emp,total_wages_all_workers,avg_weekly_wages
0,County,Los Angeles County,2004,1st Qtr,Private,6,331210,Purchased Iron and Steel Pipe and Tube,10,646,647,647,644,7426451,884
1,County,Los Angeles County,2004,1st Qtr,Private,4,3313,Alumina and Aluminum Production,36,1632,1626,1644,1627,16666151,785

In [100]:
#results = client.get('fisq-v939', where= "area_name='Los Angeles County'")
#results = client.get('fisq-v939', where= "ownership='Private'")
results = client.get('fisq-v939',
                     where="year>2010 and time_period!='Annual' and area_name='Los Angeles County'",
                     limit =200000)
df =pd.DataFrame.from_records(results)
df.head(2)

,area_type,area_name,year,time_period,ownership,naics_code_level,naics_code,industry_name,establishments,avg_employment,_1st_month_emp,_2nd_month_emp,_3rd_month_emp,total_wages_all_workers,avg_weekly_wages
0,County,Los Angeles County,2011,1st Qtr,Federal Government,4,5222,Nondepository Credit Intermediation,2,46,46,45,47,1020408,1706
1,County,Los Angeles County,2011,1st Qtr,Federal Government,4,5413,Architectural and Engineering Services,4,549,542,551,556,11155956,1561