# WDI data from Quandl

In [12]:
import quandl
import pandas as pd
idx = pd.IndexSlice

## API key

In [15]:
api_file = open('api_key.txt')
api_code = "".join(api_file.readlines())
quandl.ApiConfig.api_key = api_code

## Import Data

### Country code and indicators

In [16]:
country_codes = ['AUS', 
                 'BRA', 
                 'CAN', 
                 'CHN']
series_ids = [
    'BX.KLT.DINV.WD.GD.ZS',  #Foreign direct investment, net inflows (% of GDP)
    'NE.CON.TOTL.ZS' , #Final consumption expenditure (% of GDP)
    'NE.CON.TOTL.KN',#Final consumption expenditure (constant LCU)
    'NE.GDI.FTOT.ZS' ,# Gross fixed capital formation (% of GDP)
    'NE.GDI.FTOT.KN', #Gross fixed capital formation (constant LCU)
    'NE.CON.GOVT.ZS', #General government final consumption expenditure (% of GDP)'
    'NE.CON.GOVT.KN', # General government final consumption expenditure (constant LCU)
    'NY.GDP.MKTP.CN', #GDP (current LCU)
    'SP.DYN.LE00.MA.IN', #'Life expectancy at birth, male (years)'
    'SP.DYN.LE00.IN', #Life expectancy at birth, total (years)
    'SP.DYN.LE00.FE.IN', #Life expectancy at birth, female (years) 
]

### Download

In [17]:
df_wdi = quandl.get_table('WB/DATA', 
                      country_code = country_codes ,
                      series_id = series_ids
                     )
df_wdi.head(3)

              series_id country_code country_name  year   value
None
0     SP.DYN.LE00.MA.IN          CHN        China  2019  74.761
1     SP.DYN.LE00.MA.IN          CHN        China  2018  74.549
2     SP.DYN.LE00.MA.IN          CHN        China  2017  74.315

In [22]:
df_wdi = df_wdi.drop(['country_name'],
            axis=1).pivot_table(index = ['country_code','year'], 
                                columns='series_id', 
                                values='value')
df_wdi.head(3)

series_id          BX.KLT.DINV.WD.GD.ZS  NE.CON.GOVT.KN  NE.CON.GOVT.ZS  \
country_code year
AUS          1960                   NaN    4.100800e+10       11.189358
             1961                   NaN    4.251300e+10       11.425320
             1962                   NaN    4.415700e+10       12.074878

series_id          NE.CON.TOTL.KN  NE.CON.TOTL.ZS  NE.GDI.FTOT.KN  \
country_code year
AUS          1960    1.856750e+11       68.821476    4.295000e+10
             1961    1.902260e+11       69.371266    4.538600e+10
             1962    1.954220e+11       71.088875    4.619300e+10

series_id          NE.GDI.FTOT.ZS  NY.GDP.MKTP.CN  SP.DYN.LE00.FE.IN  \
country_code year
AUS          1960       30.263633    1.661400e+10               74.0
             1961       30.287340    1.757500e+10               74.2
             1962       29.788071    1.778900e+10               74.2

series_id          SP.DYN.LE00.IN  SP.DYN.LE00.MA.IN
country_code year
AUS          1960       70.817073          67.785714
             1961       70.973171          67.900000
             1962       70.942439          67.840000